<html lang="en">
  <head>
    <!-- <base href="https://www.example.com/" /> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write a joke</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <h1>Enter Information</h1>
   
        <input type="text" id="jokeInput" placeholder="Enter Joke" />
        <input type="text" id="name" placeholder="Enter Name" />
    
        <button type="submit" id="submit">Submit</button>
    

    <h1>Stored Information</h1>
    <ul id="dataList"></ul>

    <script src="/index.js"></script>
  </body>
</html>
